@using ConferenceManagementWebApp.Enums

@model ConferenceManagementWebApp.ViewModels.AccountViewModels.AccountRegisterViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/register.css">
<link rel="stylesheet" href="~/css/base.css">

<header class="header">
    <a asp-controller="Home" asp-action="Index" class="logo">Conferance Management System</a>
    <nav class="navbar">
        <a asp-controller="Account" asp-action="Login">Login</a>
        <a asp-controller="Account" asp-action="Register">Register</a>
    </nav>
</header>

<div class="register-box">
    <div class="register-header">
        <header>Create An Account</header>
    </div>
    <form asp-action="Register" asp-controller="Account" method="post">
        <div class="input-box">
            <input asp-for="FirstName" class="input-field" placeholder="First Name"/>
        </div>
        <div class="input-box">
            <input asp-for="LastName" class="input-field" placeholder="Last Name"/>
        </div>
        <div class="input-box">
            <input asp-for="Username" class="input-field" placeholder="Username"/>
        </div>
        <div class="input-box">
            <input asp-for="Email" class="input-field" placeholder="Email"/>
        </div>
        <div class="input-box">
            <input asp-for="Password" class="input-field" placeholder="Password"/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="input-box">
            <input asp-for="ConfirmPassword" class="input-field" placeholder="Confirm Password"/>
        </div>
        <div class="input-box">
            <select asp-for="Role" class="input-field">
                <option value="" disabled selected>Select Role</option>
                <option value="Organizer">@Roles.Organizer</option>
                <option value="Presenter">@Roles.Presenter</option>
                <option value="Attendee">@Roles.Attendee</option>
                <option value="Reviewer">@Roles.Reviewer</option>
                <option value="Author">@Roles.Author</option>
            </select>
        </div>
        <div class="input-submit">
            <button class="submit-btn" id="submit"></button>
            <label for="submit">Register</label>
        </div>
    </form>
    <div class="sign-in-link">
        <p>Already have an account? <a asp-action="Login" asp-controller="Account">Login</a></p>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}