@using ConferenceManagementWebApp.ViewModels.SessionViewModels;
@model List<SessionListViewModel>;

@{
    ViewBag.Title = "Sessions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/base.css">
<link rel="stylesheet" href="~/css/table.css">
<title>Sessions</title>

<div class="container">
    <h1>Sessions</h1>
    <table class="conference-table">
        <tr>
            <th>Title</th>
            <th>Topic</th>
            <th>Presentation Type</th>
            <th>Presenter</th>
            <th>Start Time</th>
            <th>End Time</th>
            @if (User.IsInRole("Author"))
            {
                <th>Add Paper</th>
            }
        </tr>

        @foreach (var session in Model)
        {
            <tr>
                <td>@session.Title</td>
                <td>@session.Topic</td>
                <td>@session.PresentationType</td>
                <td>@session.PresenterFullName</td>
                <td>@session.StartTime</td>
                <td>@session.EndTime</td>
                @if (User.IsInRole("Author"))
                {
                    <td>
                        <button><a asp-controller="Paper" asp-action="Create" asp-route-sessionId="@session.SessionId">Add Paper</a></button>
                    </td>
                }

            </tr>
        }
    </table>
</div>