@using System.Text.Json;
@model ConferenceManagementWebApp.ViewModels.ConferenceViewModels.ConferenceCreateViewModel;

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/base.css">
<link rel="stylesheet" href="~/css/conferenceCreate.css">

<header class="header">
    <a asp-controller="Home" asp-action="Index" class="logo">Conference Management System</a>
    <nav class="navbar">
        <a asp-controller="Home" asp-action="Index">Home</a>
        <a asp-controller="Home" asp-action="Search">Search</a>
        <a asp-controller="Home" asp-action="Notifications">Notifications</a>
        <a asp-controller="Home" asp-action="Profile">Profile</a>
        <a asp-controller="Account" asp-action="Logout">Logout</a>
    </nav>
</header>
<div class="organize-box">
    <div class="organize-header">
        <header>Organize A Conference</header>
    </div>
    <form asp-action="Create" asp-controller="Conference" method="post" id="conferenceForm">

        <div class="input-box">
            <input asp-for="Title" class="input-field" placeholder="Title" />
        </div>
        <div class="input-box">
            <textarea asp-for="Description" class="input-field" placeholder="Description"></textarea>
        </div>
        <div class="input-box">
            <input asp-for="Venue" class="input-field" placeholder="Venue" />
        </div>
        <div class="input-box">
            <label for="startDate">Start Time</label>
            <input asp-for="StartTime" type="datetime-local" class="input-field" id="startDate" />
        </div>
        <div class="input-box">
            <label for="endDate">End Time</label>
            <input asp-for="EndTime" type="datetime-local" class="input-field" id="endDate" />
        </div>

        <label class="label">Choose Reviewers</label>
        <div class="custom-select" id="custom-select">
            <div class="select-header" id="select-header">
                <span>Choose Reviewers</span>
                <div class="arrow"></div>
            </div>
            <div class="select-options" id="select">
                @foreach (var reviewer in Model.AllReviewers)
                {
                    <div class="option">
                        <input type="checkbox" id="@("reviewer_" + reviewer.Id)" name="@("reviewer_" + reviewer.Id)" value="@reviewer.Id">
                        <label for="@("reviewer_" + reviewer.Id)">@reviewer.FirstName @reviewer.LastName</label>
                    </div>
                }
            </div>
        </div>

        <div class="input-box">
            <label for="sessionCount" class="label">Number Of Sessions</label>
            <select class="input-field" id="sessionCount" required>
                <option value="" disabled selected>Number Of Sessions</option>
                @for (int i = 1; i <= 6; i++)
                {
                    <option value="@i">@i</option>
                }
            </select>
        </div>

        <div id="sessions"></div>

        <div class="input-submit">
            <button class="submit-btn" id="submitButton"></button>
            <label for="submitButton">Create Conference</label>
        </div>

        <input type="hidden" id="sessionsData" name="SessionsData" />
        <input type="hidden" id="selectedReviewers" name="SelectedReviewers" />
        <input type="hidden" id="allReviewers" name="AllReviewers" value="@Html.Raw(Json.Serialize(Model.AllReviewers))" />
        <input type="hidden" id="allPresenters" name="AllPresenters" value="@Html.Raw(Json.Serialize(Model.AllPresenters))" />
    </form>
</div>

@section Scripts {
    <script>
        var allPresenters = @Html.Raw(JsonSerializer.Serialize(Model.AllPresenters));
    </script>
    <script src="~/js/conferencecreate.js"></script>
}