@using ConferenceManagementWebApp.ViewModels.ConferenceViewModels;
@model List<ConferenceListOrganizedConferencesViewModel>;

@{
    ViewBag.Title = "List Organized Conferences";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/base.css">
<link rel="stylesheet" href="~/css/table.css">
<title>Organized Conferences</title>

<div class="container">
    <h1 class="upcoming-conferences-title">Organized Conferences</h1>
    <table class="conference-table">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Venue</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Sessions</th>
            <th>Attendees</th>
        </tr>

        @foreach (var conference in Model)
        {
            <tr>
                <td>@conference.Title</td>
                <td>@conference.Description</td>
                <td>@conference.Venue</td>
                <td>@conference.StartDate</td>
                <td>@conference.EndDate</td>
                <td>
                    <button>
                        <a asp-controller="Session" asp-action="List" asp-route-conferenceId="@conference.Id">Sessions</a>
                    </button>
                </td>
                <td>
                    <button>
                        <a asp-controller="Conference" asp-action="ListAttendees" asp-route-conferenceId="@conference.Id">Attendees</a>
                    </button>
                </td>
            </tr>
        }

    </table>
</div>